/* google font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */

body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Mulish', sans-serif;
}

main {
	padding: 0 135px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	color: rgba(19, 19, 24, 0.70);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 15px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.section-tittle h1 {
	color: #131318;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 15px;
}

.primary-btn {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	border-radius: 8px;
	background: #FF5400;
	padding: 14px 35px;
	display: inline-block;
}

.text-center {
	text-align: center;
}


/* header section styles */

.header-section {
	padding: 50px 135px;
}

.header-section nav {
	display: flex;
	justify-content: space-between;
}

.site-logo {
	display: flex;
	align-items: center;
	color: #131318;
	font-size: 36px;
	font-weight: 800;
}

.junction {
	color: #FF5400;
}

.site-logo img {
	margin-right: 15px;
}

.header-menu {
	display: flex;
	gap: 45px;
	align-items: center;
}

.header-menu li>a {
	color: #424247;
	font-size: 18px;
	font-weight: 400;
	transition: .3s;
}

.header-menu li:hover>a {
	color: #FF5400;
}


/* banner section styles */

.banner-section {
	min-height: 500px;
	background-position: center;
	background-size: cover;
	border-radius: 16px;
	text-align: center;
	position: relative;
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-section::before {
	position: absolute;
	content: "";
	border-radius: 16px;
	background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.banner-content {
	position: relative;
	z-index: 11;
}

.banner-tittle {
	color: #FFF;
	font-size: 64px;
	font-weight: 800;
	margin-bottom: 24px;
}

.banner-description {
	color: #FFF;
	margin-bottom: 50px;
}

.banner-form {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.30);
	padding: 15px;
}

.banner-form input,
.travelling-date,
.travelling-type {
	border-radius: 8px;
	background: #FFF;
	border: 0;
	padding: 16px;
	color: rgba(19, 19, 24, 0.50);
	font-size: 16px;
	font-weight: 400;
	width: 175px;
}

.travelling-date,
.travelling-type {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
}
/* 
.travelling-date::after {
	position: absolute;
	content: '\f107';
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #333;
	color: #333;
} */

.banner-search-btn {
	border-radius: 8px;
	background: #FF5400;
	border: 0;
	color: #FFF;
	text-align: center;
	font-family: Mulish;
	font-size: 16px;
	font-weight: 700;;
	padding: 15px 35px;
	cursor: pointer;
}

.banner-search-btn span{
	margin-right: 10px;
}

/* popular tours section styles */

.popular-tours-section {
	display: flex;
	margin-bottom: 100px;
}

.popular-tours-content {
	width: 50%;
}

.popular-tours-list {
	padding-left: 15px;
	margin-bottom: 25px;
	padding-right: 35px;
}

.popular-tours-list li {
	list-style: disc;
	color: rgba(19, 19, 24, 0.70);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 15px;
}

.popular-tours-description {
	margin-bottom: 30px;
	padding-right: 30px;
}

.popular-tours-img {
	width: 50%;
	text-align: right;
}

.popular-tours-list {
	padding-left: 15px;
	margin-bottom: 25px;
	padding-right: 35px;
	margin-top: 30px;
}


/* destination section styles */

.destination-section {
	margin-bottom: 100px;
}

.destination-section .section-tittle {
	margin-bottom: 50px;
}

.destination-img-container {
	display: flex;
	gap: 25px;
	margin-bottom: 25px;
}

.destination-img-wrapper {
	position: relative;
}

.destination-img-wrapper img {
	height: 100%;
}

.desti-img-wrapper-text {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	color: #FFF;
	font-size: 28px;
	font-weight: 800;
	text-align: center;
	transform: translateY(-50%);
}


/* why choose us section styles */

.why-choose-us-section {
	margin-bottom: 100px;
}

.why-choose-us-section .section-tittle {
	margin-bottom: 50px;
}

.why-choose-container {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	justify-content: center;
}

.why-choose-us-wrapper {
	border-radius: 16px;
	border: 1px solid rgba(251, 181, 99, 0.20);
	background: rgba(251, 181, 99, 0.05);
	padding: 32px;
	max-width: 505px;
}

.why-choose-us-wrapper-2 {
	border: 1px solid rgba(41, 206, 246, 0.20);
	background: rgba(41, 206, 246, 0.05);
}

.why-choose-us-wrapper-3 {
	border: 1px solid rgba(233, 68, 68, 0.20);
	background: rgba(233, 68, 68, 0.05);
}

.why-choose-icon {
	margin-bottom: 25px;
}

.why-choose-us-content h3 {
	color: #131318;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 15px;
}

.why-choose-us-content p {
	color: #5A5A5D;
	margin-bottom: 0;
}

/* deals and discount section styles */

.deals-and-discount-section {
	margin-bottom: 100px;
}

.deals-and-discount-section .section-tittle {
	margin-bottom: 50px;
}

.deals-and-discount-wrapper-box {
	min-height: 390px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	padding: 55px;
	border-radius: 16px;
	margin-bottom: 25px;
}

.deals-and-discount-wrapper-box-2 {
	justify-content: flex-start;
}

.deals-and-discount-content-box {
	border-radius: 16px;
	border: 2px solid #FFF;
	background: rgba(255, 255, 255, 0.80);
	backdrop-filter: blur(2.5px);
	padding: 50px;
	max-width: 476px;
}

.deals-and-discount-tags {
	display: flex;
	gap: 24px;
	margin-bottom: 25px;
}

.single-tag h6 {
	color: #5A5A5D;
	font-size: 16px;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 8px;
}

.single-tag span {
	color: #FF5400;
	font-size: 24px;
	display: inline-block;
}

.deals-and-discount-description h2 {
	color: #131318;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 10px;
}

.deals-and-discount-description p {
	color: #5A5A5D;
}

.deals-and-discount-price {
	color: #FF5400;
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
}

.all-packages-btn {
	margin-top: 50px;
}

/* perfect places section styles */

.perfect-places-section {
	margin-bottom: 100px;
	display: flex;
}

.perfect-places-content-area {
	padding-right: 30px;
}

.perfect-places-content-area h1 {
	color: #131318;
	font-size: 40px;
	font-weight: 800;
	line-height: 60px;
	margin-bottom: 15px;
}

.perfect-places-content-area p {
	color: #5A5A5D;
	margin-bottom: 25px;
}

.perfect-places-list {
	padding-left: 15px;
	padding-right: 30px;
	margin-bottom: 30px;
}

.perfect-places-list li {
	color: #131318;
	font-size: 16px;
	font-weight: 700;
	line-height: 26px;
	list-style: disc;
	margin-bottom: 20px;
}


/* news letter section styles */

.news-letter-section {
	display: flex;
	gap: 24px;
	margin-bottom: 100px;
}

.news-letter-form-area {
	border-radius: 16px;
	border: 1px solid #FF5400;
	padding: 40px;
	min-width: 395px;
	height: 100%;
}

.news-letter-description {
	border-bottom: 1px solid rgba(19, 19, 24, 0.10);
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.news-letter-description h3 {
	color: #131318;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 10px;
}

.news-letter-description p {
	color: #5A5A5D;
	margin: 0;
}

.news-letter-form input {
	color: rgba(19, 19, 24, 0.30);
	font-size: 16px;
	font-weight: 400;
	border-radius: 8px;
	background: rgba(19, 19, 24, 0.05);
	border: 0;
	display: block;
	padding: 15px 20px;
	margin-bottom: 18px;
	min-width: 355px;
}

.news-letter-submit {
	border-radius: 8px;
	background: #FF5400;
	border: 0;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	padding: 14px;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	margin-top: 10px;
}

.news-letter-thumb {
	position: relative;
}

.discount-banner {
	border-radius: 16px;
	background: #FF5400;
	min-width: 325px;
	text-align: center;
	padding: 20px 0;
	position: absolute;
	right: 7px;
	bottom: 55px;
	transform: rotate(-19.628deg);
	overflow: hidden;
}

.discount-banner span {
	color: #FFF;
	font-size: 24px;
	font-weight: 400;
	display: inline-block;
}

.discount-banner h2 {
	color: #FFF;
	font-size: 32px;
	font-weight: 800;
}


/* footer section styles */

.footer-section {
	background: rgba(19, 19, 24, 0.05);
	padding: 110px 135px;
}

.footer-logo .site-logo {
	font-size: 32px;
	justify-content: center;
	margin-bottom: 15px;
}

.footer-logo .site-logo img {
	width: 45px;
	margin-right: 8px;
}

.footer-description {
	color: #5A5A5D;
	margin-bottom: 30px;
}

.footer-social-link {
	display: flex;
	justify-content: center;
	gap: 25px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(19, 19, 24, 0.10);
	margin: 0 150px;
	margin-bottom: 50px;
}

.footer-social-link li a {
	color: #131318;
	font-size: 24px;
}

.copy-right {
	margin-bottom: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
}




/* responsive media query styles */


@media screen and (min-width: 577px) and (max-width: 991px) {

	.footer-section {
		background: rgba(19, 19, 24, 0.05);
		padding: 70px 50px;
	}

	.footer-social-link {
		padding-bottom: 35px;
		margin: 0 50px;
		margin-bottom: 50px;
	}

}

@media (min-width: 992px) and (max-width: 1200px) {


}

/* mobile device: 575px */

@media screen and (max-width:576px) {

	main {
		padding: 0 20px;
	}

	p {
		font-size: 14px;
	}

	.news-letter-section {
		margin-bottom: 25px;
		flex-direction: column;
	}

	/* news letter section */

	.news-letter-form-area {
		min-width: auto;
	}

	.news-letter-description {
		padding-bottom: 15px;
		margin-bottom: 20px;
	}

	.news-letter-description h3 {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.news-letter-form input {
		min-width: 84%;
	}

	.discount-banner {
		min-width: 215px;
		padding: 20px 0;
		bottom: 35px;
	}

	.discount-banner span {
		font-size: 15px;
	}

	.discount-banner h2 {
		font-size: 22px;
	}

	/* footer section */

	.footer-section {
		background: rgba(19, 19, 24, 0.05);
		padding: 30px 20px;
	}

	.footer-logo .site-logo {
		font-size: 22px;
	}

	.footer-logo .site-logo img {
		width: 40px;
		margin-right: 8px;
	}

	.footer-description {
		margin-bottom: 20px;
	}

	.footer-social-link {
		padding-bottom: 25px;
		margin: 0;
		margin-bottom: 25px;
	}
	
}

/* extra small device: 375px */

@media only screen and (min-width: 376px) and (max-width: 576px) {

	.news-letter-form input {
		min-width: 90%;
	}
}
