/* google font */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */

body {
	max-width: 1440px;
	margin: 0 auto;
	font-family: 'Mulish', sans-serif;
}

main {
	padding: 0 135px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	color: rgba(19, 19, 24, 0.70);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 15px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.section-tittle h1 {
	color: #131318;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 15px;
}

.primary-btn {
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	border-radius: 8px;
	background: #FF5400;
	padding: 14px 35px;
	display: inline-block;
}


/* header section styles */

.header-section {
	padding: 50px 135px;
}

.header-section nav {
	display: flex;
	justify-content: space-between;
}

.site-logo {
	display: flex;
	align-items: center;
	color: #131318;
	font-size: 36px;
	font-weight: 800;
}

.junction {
	color: #FF5400;
}

.site-logo img {
	margin-right: 15px;
}

.header-menu {
	display: flex;
	gap: 45px;
	align-items: center;
}

.header-menu li>a {
	color: #424247;
	font-size: 18px;
	font-weight: 400;
	transition: .3s;
}

.header-menu li:hover>a {
	color: #FF5400;
}


/* banner section styles */

.banner-section {
	min-height: 500px;
	background-position: center;
	background-size: cover;
	border-radius: 16px;
	text-align: center;
	position: relative;
	margin-bottom: 100px;
}

.banner-section::before {
	position: absolute;
	content: "";
	border-radius: 16px;
	background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.banner-content {
	position: relative;
	z-index: 11;
}

.banner-tittle {
	color: #FFF;
	font-size: 64px;
	font-weight: 800;
}

.banner-description {
	color: #FFF;
}

.banner-form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
	border-radius: 8px;
	background: rgba(255, 255, 255, 0.30);
}

.banner-form input,
#travelling-date,
#travelling-type {
	border-radius: 8px;
	background: #FFF;
	border: 0;
	padding: 16px;
	color: rgba(19, 19, 24, 0.50);
	font-size: 16px;
	font-weight: 400;
	width: 175px;
}

.banner-search-btn {
	border-radius: 8px;
	background: #FF5400;
	border: 0;
}

/* popular tours section styles */

.popular-tours-section {
	display: flex;
	margin-bottom: 100px;
}

.popular-tours-content {
	width: 50%;
}

.popular-tours-list {
	padding-left: 15px;
	margin-bottom: 25px;
	padding-right: 35px;
}

.popular-tours-list li {
	list-style: disc;
	color: rgba(19, 19, 24, 0.70);
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 15px;
}

.popular-tours-description {
	margin-bottom: 30px;
	padding-right: 30px;
}

.popular-tours-img {
	width: 50%;
	text-align: right;
}

.popular-tours-list {
	padding-left: 15px;
	margin-bottom: 25px;
	padding-right: 35px;
	margin-top: 30px;
}
